<div class="container">
    <div class="row">
        <button class="compare">Compare</button>
    </div>

    <div class="selection">

        <div class="row">
            <div class="col">

                <div class="row choose">
                    <div class="input-group">
                        <input type="file" class="form-control" id="file1" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected1()">

                    </div>
                </div>

                <div class="test" style='position: relative; '>

                    <pdf-viewer [src]='pdfSrc' [show-all]="true" [autoresize]="true" [original-size]='true' [fit-to-page]='true' [render-text]='false' (page-rendered)="pageRendered1($event)"></pdf-viewer>
                </div>
                <!-- <div class="test">
                    <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 70px; height: 90px;"
                        [fit-to-page]='true'></pdf-viewer>
                </div> -->

            </div>
            <div class="col">

                <div class="row choose">
                    <div class="input-group">
                        <input type="file" class="form-control" id="file2" aria-describedby="inputGroupFileAddon04" aria-label="Upload" (change)="onFileSelected2()">
                    </div>


                </div>


                <div class="test" style='position: relative;'>

                    <pdf-viewer [src]='pdfSrc1' [show-all]="true" [autoresize]="true" [original-size]='true' [fit-to-page]='true' [render-text]='true' (page-rendered)="pageRendered2($event)"></pdf-viewer>
                </div>

            </div>

        </div>

    </div>


</div>